BrightGlow_Skincare_CS.json
{
  "name": "BrightGlow Skincare CS",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=Kamu adalah seorang customer servis dari sebuah brand bernama BrightGlow skincare. Tugasmu adalah menjawab semua pertanyaan customer dengan bahasa yang ramah dan sesuai dengan data pada FAQ. Jawaban kamu harus sesuai dan relate dengan  konteks customer: {{ $json.chatInput }}\n\nDan kamu juga akan memasukkan semua pertanyaan customer ke dalam spreadsheet brightglow skincare!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -240,
        -120
      ],
      "id": "8196c7b6-0c8d-4a82-8579-b24af5d6de20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        100
      ],
      "id": "259d9877-0392-4cc7-836a-4ed2896375a4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WLmoKVvLqkDdpVjh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        100
      ],
      "id": "330ea8fe-4531-47e8-b794-2a1dca03de1a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -120
      ],
      "id": "0eeda25c-a6d6-4e55-b052-a255b6ae24d0",
      "name": "When chat message received",
      "webhookId": "35306292-d64e-4813-892c-de20f3a0595e"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "FAQ input!"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        20,
        100
      ],
      "id": "12b34f1b-3531-4b03-8270-f7710aa26fba",
      "name": "create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hkh8geVk1KUWOnwL",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -100,
        100
      ],
      "id": "51f2eca2-4acd-42ee-a433-2382263ecdac",
      "name": "get",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hkh8geVk1KUWOnwL",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5aa5e4d7-734f-4926-b6e2-ce100cb79751",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a287613f1596da776459594685fbf4e2b4a12124f80ab8c8772f5e37bff103ae"
  },
  "id": "ybRIA8ZbweOI2z1M",
  "tags": [
    {
      "createdAt": "2025-04-26T16:11:12.416Z",
      "updatedAt": "2025-04-26T16:11:12.416Z",
      "id": "3P4VI0my4kAGkwtz",
      "name": "practice"
    }
  ]
}